.btn {
  width: 25%;
  height: 100%;
  font-size: 3rem;
  font-family: inherit;
  background-color: #fff;
  border: 1px solid transparent;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s;
}

.btn:hover {
  color: #fff;
  background-color: #383838;
}

.btn:active {
  transform: scale(.95);
}

.btn--large {
  width: 50%;
  color: #fff;
  background-color: #CC3333;
  transition: all .2s;
}
.btn--large:hover {
  background-color: #383838;
  /* color: #383838; */
}